ZKV_RPC_URL="wss://testnet-rpc.zkverify.io"
ETH_RPC_URL="https://testnet-rpc.zkverify.io"

ETH_ZKVERIFY_CONTRACT_ADDRESS=0x209f82A06172a8d96CF2c95aD8c42316E80695c1
ETH_APP_CONTRACT_ADDRESS=0xc31751e668c92d27bef9ef81b9548ab5518b1666